In [1]:
import pandas as pd

In [5]:
iphone_df = pd.read_csv("Data/iphone.csv", index_col=0)

In [6]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [7]:
#DataFrame 위치로 인덱싱하기
#numpy때는 row, col이 숫자였고, pandas에서는 문자를 보통 사용했다.
#pandas에서도 숫자를 이용해 인덱싱을 해보자.
#iloc를 사용한다.

In [10]:
iphone_df.iloc[2, 0] #2번 인덱스 row 0번 인덱스 col

'2017-09-22'

In [11]:
iphone_df.iloc[1:3, 0] #1~2번 인덱스 row 0번 인덱스 col

iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
Name: 출시일, dtype: object

In [12]:
iphone_df.iloc[2:5, 2:4] #2~4번 인덱스 row 2~3번 인덱스 col

               메모리     출시 버전
iPhone 8       2GB  iOS 11.0
iPhone 8 Plus  3GB  iOS 11.0
iPhone X       3GB  iOS 11.1

In [13]:
iphone_df.iloc[[1, 3, 5], [1, 3]] #(1, 3, 5)번 인덱스 row (1, 3)번 인덱스 col

               디스플레이     출시 버전
iPhone 7 Plus    5.5  iOS 10.0
iPhone 8 Plus    5.5  iOS 11.0
iPhone XS        5.8  iOS 12.0