In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Data/iphone.csv", index_col=0)
df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [5]:
df.loc['iPhone 7'] #한가지 행 출력하기

출시일        2016-09-16
디스플레이             4.7
메모리               2GB
출시 버전        iOS 10.0
Face ID            No
Name: iPhone 7, dtype: object

In [7]:
df[['출시일', '디스플레이']] #두가지 칼럼 출력하기

                      출시일  디스플레이
iPhone 7       2016-09-16    4.7
iPhone 7 Plus  2016-09-16    5.5
iPhone 8       2017-09-22    4.7
iPhone 8 Plus  2017-09-22    5.5
iPhone X       2017-11-03    5.8
iPhone XS      2018-09-21    5.8
iPhone XS Max  2018-09-21    6.5

In [10]:
df.loc['iPhone 8' : 'iPhone X'] #여러 행 출력하기

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes

In [9]:
df.loc[: 'iPhone X'] #여러 행 출력하기

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes

In [21]:
df.loc[:, "메모리":"Face ID"] #여러 열 출력하기

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes
iPhone XS Max  4GB  iOS 12.0     Yes

In [13]:
df.loc["iPhone 8":"iPhone XS", "메모리":"Face ID"] #여러 열 출력하기

               메모리     출시 버전 Face ID
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes

In [14]:
#실습 'KBS'에서 'SBS'까지, 연도는 2012년부터 2017년까지의 시청률만 확인
broadcast_df = pd.read_csv('data/broadcast.csv', index_col=0)

In [15]:
broadcast_df.loc[2012:2017, "KBS":"SBS"]

         KBS     MBC     SBS
2012  36.163  16.022  11.408
2013  31.989  16.778   9.673
2014  31.210  15.663   9.108
2015  27.777  16.573   9.099
2016  27.583  14.982   8.669
2017  26.890  12.465   8.661

In [23]:
df.loc[[True, False, True, True, False, False, True]] #0, 2, 3, 6번 인덱스만 출력

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [30]:
#실습 'KBS'에서 시청률이 30이 넘은 데이터만 확인
kbs_df = pd.read_csv('data/broadcast.csv', index_col=0)

boolean_kbs = kbs_df.loc[:, "KBS"] > 30
#blean_kbs = df["KBS"] > 30 위와 동일
more_than_30 = kbs_df.loc[boolean_kbs, "KBS"]
more_than_30

2011    35.951
2012    36.163
2013    31.989
2014    31.210
Name: KBS, dtype: float64

In [31]:
#실습 SBS가 TV CHOSUN보다 더 시청률이 낮았던 시기
sbs_df = pd.read_csv('data/broadcast.csv', index_col=0)

In [32]:
sbs_df.loc[:, "SBS"]

2011    11.173
2012    11.408
2013     9.673
2014     9.108
2015     9.099
2016     8.669
2017     8.661
Name: SBS, dtype: float64

In [34]:
sbs_df.loc[:, "TV CHOSUN"]

2011    9.102
2012    8.785
2013    9.026
2014    9.440
2015    9.940
2016    9.829
2017    8.886
Name: TV CHOSUN, dtype: float64

In [36]:
boolean_sbs = sbs_df.loc[:, "SBS"] < sbs_df.loc[:, "TV CHOSUN"]

In [44]:
boolean_sbs

2011    False
2012    False
2013    False
2014     True
2015     True
2016     True
2017     True
dtype: bool

In [59]:
sbs = sbs_df.loc[boolean_sbs, "SBS"]
sbs

2014    9.108
2015    9.099
2016    8.669
2017    8.661
Name: SBS, dtype: float64

In [60]:
chosun = sbs_df.loc[boolean_sbs, "TV CHOSUN"]
chosun

2014    9.440
2015    9.940
2016    9.829
2017    8.886
Name: TV CHOSUN, dtype: float64

In [57]:
type(sbs_df.loc[boolean_sbs, "SBS"])

pandas.core.series.Series

In [64]:
answer = {
    "SBS": sbs,
    "TV CHOSUN": chosun
}
answer_df = pd.DataFrame(answer)
answer_df #돌아온 방법..

        SBS  TV CHOSUN
2014  9.108      9.440
2015  9.099      9.940
2016  8.669      9.829
2017  8.661      8.886

In [65]:
sbs_df.loc[boolean_sbs, ["SBS", "TV CHOSUN"]]  #이게 더 쉽잖아..

        SBS  TV CHOSUN
2014  9.108      9.440
2015  9.099      9.940
2016  8.669      9.829
2017  8.661      8.886