In [1]:
import pandas as pd

In [2]:
samsong_df = pd.read_csv('data/samsong.csv')
hyundee_df = pd.read_csv('data/hyundee.csv')

In [18]:
sdf = samsong_df.loc[:, "문화생활비"]

In [19]:
sdf

0     4308
1     7644
2     5674
3     8621
4    23052
5    15330
6    19030
Name: 문화생활비, dtype: int64

In [21]:
type(sdf)

pandas.core.series.Series

In [13]:
hdf = hyundee_df.loc[:, "문화생활비"]

In [14]:
hdf

0     5339
1     3524
2     5364
3     9942
4    33511
5    19397
6    19925
Name: 문화생활비, dtype: int64

In [15]:
days = samsong_df.loc[:, "요일"]

In [16]:
days

0    MON
1    TUE
2    WED
3    THU
4    FRI
5    SAT
6    SUN
Name: 요일, dtype: object

In [17]:
type(days)

pandas.core.series.Series

In [26]:
culture = {
    "day" : days,
    "samsong": sdf,
    "hyundee" : hdf
    }

In [27]:
culture

{'day': 0    MON
 1    TUE
 2    WED
 3    THU
 4    FRI
 5    SAT
 6    SUN
 Name: 요일, dtype: object, 'samsong': 0     4308
 1     7644
 2     5674
 3     8621
 4    23052
 5    15330
 6    19030
 Name: 문화생활비, dtype: int64, 'hyundee': 0     5339
 1     3524
 2     5364
 3     9942
 4    33511
 5    19397
 6    19925
 Name: 문화생활비, dtype: int64}

In [30]:
culture_df = pd.DataFrame(culture)
culture_df

   day  samsong  hyundee
0  MON     4308     5339
1  TUE     7644     3524
2  WED     5674     5364
3  THU     8621     9942
4  FRI    23052    33511
5  SAT    15330    19397
6  SUN    19030    19925