In [1]:
import numpy as np

In [2]:
array1 = np.array([2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31])

In [3]:
array1 > 4

array([False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [4]:
array1 % 2 == 0

array([ True, False, False, False, False, False, False, False, False,
       False, False])

In [5]:
booleans = np.array([True, True, False, True, True, False, True, True, False])

In [6]:
booleans

array([ True,  True, False,  True,  True, False,  True,  True, False])

In [8]:
np.where(booleans)

(array([0, 1, 3, 4, 6, 7], dtype=int64),)

In [10]:
array1 > 4

array([False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [11]:
np.where(array1 > 4)

(array([ 2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64),)

In [12]:
filter = np.where(array1 > 4)
filter

(array([ 2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64),)

In [14]:
array1[filter]

array([ 5,  7, 11, 13, 17, 19, 23, 29, 31])

In [15]:
#한 가게의 일 수익 표이다. 20만엔 이하 수익 날의 매출만 보고 싶다.

revenue_in_yen = [
    300000, 340000, 320000, 360000, 
    440000, 140000, 180000, 340000, 
    330000, 290000, 280000, 380000, 
    170000, 140000, 230000, 390000, 
    400000, 350000, 380000, 150000, 
    110000, 240000, 380000, 380000, 
    340000, 420000, 150000, 130000, 
    360000, 320000, 250000
]

In [18]:
array1 = np.array(revenue_in_yen) # 1. np array로 변환
array1

array([300000, 340000, 320000, 360000, 440000, 140000, 180000, 340000,
       330000, 290000, 280000, 380000, 170000, 140000, 230000, 390000,
       400000, 350000, 380000, 150000, 110000, 240000, 380000, 380000,
       340000, 420000, 150000, 130000, 360000, 320000, 250000])

In [19]:
np.where(array1 < 200000) #5, 6 ,12 ... 인덱스의 날은 매출 20만엔 이하

(array([ 5,  6, 12, 13, 19, 20, 26, 27], dtype=int64),)

In [20]:
array1[np.where(array1 < 200000)]

array([140000, 180000, 170000, 140000, 150000, 110000, 150000, 130000])

In [21]:
bad_days_revenue = array1[np.where(array1 < 200000)]

# 정답 출력
bad_days_revenue

array([140000, 180000, 170000, 140000, 150000, 110000, 150000, 130000])