In [1]:
import pandas as pd
    
df = pd.read_csv('data/toeic.csv')

# 코드를 작성하세요.

# 정답 출력
df

   Gender   LC   RC
0  female  315  320
1  female  430  245
2  female  430  475
3    male  180  220
4    male  325  350
5  female  295  400
6  female  405  475
7    male  155  150
8    male  280  315
9  female  215  475

In [ ]:
#각 파트가 최소 250점, 총 점수가 최소 600점이 되어야 서류 전형을 합격할 수 있습니다.

In [2]:
df['LC'] > 250

0     True
1     True
2     True
3    False
4     True
5     True
6     True
7    False
8     True
9    False
Name: LC, dtype: bool

In [3]:
df['RC'] > 250

0     True
1    False
2     True
3    False
4     True
5     True
6     True
7    False
8     True
9     True
Name: RC, dtype: bool

In [4]:
df['LC'] + df['RC'] > 600

0     True
1     True
2     True
3    False
4     True
5     True
6     True
7    False
8    False
9     True
dtype: bool

In [15]:
(df['LC'] > 250) & (df['RC'] > 250) & (df['LC'] + df['RC'] > 600) #and는 안되네.

0     True
1    False
2     True
3    False
4     True
5     True
6     True
7    False
8    False
9    False
dtype: bool

In [16]:
df["합격 여부"] = (df['LC'] > 250) & (df['RC'] > 250) & (df['LC'] + df['RC'] > 600)

In [17]:
df

   Gender   LC   RC  합격 여부
0  female  315  320   True
1  female  430  245  False
2  female  430  475   True
3    male  180  220  False
4    male  325  350   True
5  female  295  400   True
6  female  405  475   True
7    male  155  150  False
8    male  280  315  False
9  female  215  475  False